openapi: 3.0.3
info:
  title: Order Tracker API
  description: |-
    This is an API for the EIC Cohort 6 Order Tracking Capstone project.

    Some useful links:
    - [The Order Tracker repository](https://github.com/EICPCohort6/capstone-order-tracking)
    - [The Capstone Project assignment](https://github.com/EICPCohort6/capstone-details)
  version: 1.0.0
servers:
  - url: https://FILLER.com/
paths:
  /customers:
    get:
      summary: Returns a list of all customers.
      responses:
        "200": #status code
          description: A JSON array of customers.
    post:
      summary: Creates a new customer.
      responses:
        "201":
          description: Created
  /customers/{customerID}:
    get:
      summary: Return a customer by ID.
      parameters:
        - name: customerID
          in: path
          required: true
          description: Unique ID of customer.
          schema:
            type: integer
      responses:
        "200":
          description: OK
        "400":
          description: The specified user ID is invalid (NaN)
        "404":
          description: A user with the specified ID was not found.
    put:
      summary: Modify an existing customer.
      parameters:
        - name: customerID
          in: path
          required: true
          description: Unique ID of customer.
          schema:
            type: integer
      responses:
        "200":
          description: OK
        "400":
          description: The specified user ID is invalid (NaN)
        "404":
          description: A user with the specified ID was not found.
    delete:
      summary: Remove a customer.
      parameters:
        - name: customerID
          in: path
          required: true
          description: Unique ID of customer.
          schema:
            type: integer
      responses:
        "200":
          description: OK
        "400":
          description: The specified user ID is invalid (NaN)
        "404":
          description: A user with the specified ID was not found.
  /orders:
    get:
      summary: Returns a list of orders.
      responses:
        "200":
          description: A JSON array of orders.
  /products:
    get:
      summary: Returns a list of products.
      responses:
        "200":
          description: A JSON array of products.
